body{
    background-color: rgb(113, 113, 113);
    margin: auto;
    font-family:"Arima",sans-serif;
}

h1{
    padding:30px;
    color: aliceblue;
}

#box
{
    background-color:rgba(87, 88, 89,0.6) ;
    position: fixed;
    right: 25%;
    height: 60vh;
    width: 50vw;
}

form{
    display: grid;
    grid-template-areas:"item item" ;
}

.item
{
    padding-left: 30px;
    padding-top: 20px;
    height: 13vh;
    width:22vw ;
    color: aliceblue;
}
input
{
    width: 18vw;
    height: 4.5vh;
    background-color:rgba(165, 165, 165, 0.7);
    border: none;
}
button
{
    position:fixed ;
    right:45%;
    height: 7vh;
    width: 12vw;
    background-color:rgba(165, 165, 165, 0.7) ;
    border: none;
    color: aliceblue;
}